  .wedding-banner {
    padding: 0;
    margin: 0;
    overflow: hidden; 
  
    .banner-link {
      padding: 1.5%;
      display: block;
      width: 100%;
      text-decoration: none;
  
      picture {
        display: block;
        width: 100%;
        height: auto;
  
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  