.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.customer-stories {
    overflow: hidden;
    margin: auto;
    padding: 1rem;
  
    .slick-slide {
      padding: 0.5rem ;
      display: flex;
      justify-content: center;
  
      .card {
        display: flex;
        align-items: center;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 0;
        padding: 20px;
        text-align: left;
        flex-direction: row;
  
        .card-image-wrapper {
          position: relative;
          flex: 1;
          display: flex;
          justify-content: start;
  
          .card-image {
            max-width: 35%;
            height: auto;
          }
  
          .view-product-btn {
            position: absolute;
            top: 230px;
            left: 15%;
            transform: translateX(-50%);
            background: rgb(255, 255, 255);
            color: rgb(179, 58, 58);
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            font-size: 14px;
  
            &:hover {
              background: rgba(0, 0, 0, 0.8);
            }
          }
        }
  
        .card-content {
          flex: 2;
          padding-left: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: center;
  
          .quote {
            font-size: large;
            font-style: italic;
            margin-bottom: 10px;
          }
  
          .name {
            font-weight: bold;
            margin-bottom: 5px;
          }
  
          .country {
            color: #666;
          }
        }
      }
    }
    .custom-dots {
      display: flex;
      justify-content: center;
      gap: 12px;
      padding-top: 1.2rem;
      
      .custom-dot {
        width: 0.2rem;
        height: 0.7rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
  
      .custom-dot.active {
        background-color: #000;
      }
  
      .custom-dot:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  @media (max-width: 468px) {
    .customer-stories {
      .slick-slide {
        .card {
          flex-direction: column;         
  
        .card-image-wrapper {
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center; 
          position: relative;

          .card-image {
            max-width: 57%;
            height: auto;
            margin-bottom: 10px; 
          }
          .view-product-btn {
            position: absolute;
            top: 170px; 
            left: 50%; 
            transform: translateX(-50%);
            background: rgba(255, 255, 255);
            color: #b33a3a;
            padding: 5px 10px;
            border: none;
            font-size: 14px;
            z-index: 10;
            cursor: pointer;
          }

          .view-product-btn:hover {
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
          }
        }
      
        .card-content {
          padding-top: 1rem;
          flex: 2;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: center;
  
          .quote {
            font-size: smaller;
            font-style: italic;
            margin-bottom: 18px;
          }
  
          .name {
            font-size:large;
            font-weight: bold;
            margin-bottom: 0px;
          }
  
          .country {
            font-size:medium;
            color: #666;
            margin-bottom: 3px;
          }
        }
      }
      }
    }
  }
  
