.shop-section{
  padding: 1rem;
}
.shop-video-call-section {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-size: cover;
    margin-bottom: 2.5rem;
    clear: both;
    background-color: transparent;
  
    .appointment-content {
      display: flex;
      flex-wrap: wrap;
  
      .text-center {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      .svg1 {
        margin: 0 auto;
        margin-bottom: 2.5rem;
        height: 50px;
      }
  
      h2 {
        color: #781710;
        font-family: 'Noto Serif', serif;
        font-weight: 500;
        line-height: 1;
      }
  
      p {
        color: #781710;
        margin-bottom: 3.2rem;
      }
  
      .appointment-btn {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 1.5rem;
        width: fit-content;
        font-size: large;
        background-color: white;
        color: black;
        border: none;
      }
    }
  }
  
  @media (max-width: 457px) {
    .shop-video-call-section {
      background-position: center;
    }
  
    .appointment-content .text-center {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    .appointment-btn {
      bottom: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .shop-video-call-section {
      margin-top: 0.625rem;
    }
  
    .appointment-content .text-center {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  