@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap"; 
@import "bootstrap"; 
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

#tabs {
  .tab-set {
    display: flex;
    gap: 1rem;

    .menu-active {
      font-weight: bold;
      color: black;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
