
.main-footer {
  background-color: #f8f9fa;
  color: #333;
  .footer-container{
    padding: 0 4rem 0 10rem;
  }
  @media (max-width: 768px) {
    .footer-container{
      padding: 1rem;
    }
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    a {
      font-size: 0.8rem;
      color: #555;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .mobile-icons{
    .con{
      display: flex;
      gap: 0.7rem;

      img {
        max-width: 110px;
      }
    }
  }

  .payment-icons img {
    max-width: 200px;
    margin: 0 5px;
  }

  .social-icons {
    display: flex;
      gap: 0.4rem;
      a {
        color: #000;
      } 
  }
  .no-email{
    display: flex;
    justify-content: space-between;
    font-size:small;
    padding-right: 1rem;
  }

  .iconspart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
      display: flex;
      justify-content: center;
      align-items: center;

      h4{
        padding: 10px 0 0 7px;
      }
    }
  }
  .fs-12{
    font-size: 12px;
    padding-top: 10px;
  }
  .fs-14{
    font-size: 14px;
  }
  @media (max-width: 768px) {
    .iconspart{
      display: none;
    }
    .bottom-row{
      display: none;
    }
  }
}
