.home-section1 {
  padding: 1rem;

  .icon-row {
    display: flex;
    justify-content: center;

    .icon-col {
      gap: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;

      p {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: #555;
      }
    }
  }
}

  @media (max-width: 768px) {
    .home-section1{
      padding: 2rem 4rem;
    }
    .icon-row {
      padding: 1rem;
      
      .icon-col {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 576px) {
    .home-section1{
      padding: 2rem 0.5rem;
    }
    .icon-row {
      flex-wrap: wrap; 
      
      .icon-col {
        padding: 0.5rem 1rem 0.5rem 1rem;
      }
    }
  }

