.slider-container {
    padding: 0.8rem;
    background-color: #fff;
    overflow: hidden; 
  
    .section-title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
  
    .slick-slider {
      position: relative; 
      margin: 0 auto; 
  
      .slick-list {
        overflow: hidden;
        padding: 0; 
      }
  
      .slick-track {
        display: flex;
      }
      .carousel-btn {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        z-index: 100;
        background: rgba(255, 255, 255, 0.9);
        border: none;
        height: 50px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
  
        &:hover {
          background: #fff;
        }
  
        .chevron-icon {
          fill: #000; 
          width: 20px; 
          height: 20px;
        }
      }
  
      .slick-prev {
        left: 6px; 
      }
  
      .slick-next {
        right: 6px;
      }
    }
  
    .slider-item {
      text-align: center;
      padding: 0.5rem;
  
      .slider-image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }
  
      .item-title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      .item-price {
        font-size: 1rem;
        color: #888;
      }
    }
  }
