.visit-stores {
    padding: 1rem;
    .store-card {
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
  
      .store-image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  
      .store-details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        padding: 1rem;
        color: #fff;
  
        .store-title {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
  
        .buttons1 {
          .custom-button {
            font-size: 1rem;
            padding: 0.4rem 0.8rem;
            background: white;
            color: black;
            border: none;
            border-radius: 0;
  
            &:hover {
              text-decoration: underline;
            }
              
          }
        }
      }
    }
  
    .slider-item {
      padding-left: 1rem;
    }
  
    .custom-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      z-index: 100;
      cursor: pointer;
      background: white;
      color: black;
      padding: 8px 5px ;
      font-size: 18px;
      border: none;
      border-radius: 0;
  
      &:hover {
        background: #f0f0f0;
      }
    }
  
    .next-arrow {
      right: 2px;
    }
  
    .prev-arrow {
      left: 8px;
    }
  }
  